tfoot {
	display: table-header-group;
}

tfoot input {
	width: 100%;
	padding: 3px;
	box-sizing: border-box;
}

.input-filtri {
	font-size: 10pt;
	margin: 0px;
	padding : 0px;
}

.head-filtri {
	padding : 3px !important;
}